<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logconsole" xsi:type="ColoredConsole"></target>
    <target name="jsonfile" xsi:type="File" fileName="C:/Users/Roli/.newrelic/kitchenrental-app.json">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="message" layout="${message}" />
        <attribute name="logger" layout="${logger}"/>
        <attribute name="level" layout="${level}"/>
        <attribute name="exception" layout="${exception:format=toString}"/>
        <attribute name="environment" layout="${configsetting:item=Environment}"/>
        <attribute name="service" layout="KitchenRental"/>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="Microsoft*" maxlevel="Warn" final="true"/>
    <logger name="*" writeTo="logconsole" />
    <logger name="*" writeTo="jsonfile" />
  </rules>
</nlog>